/* mobile slick text slider */
.testimonial-slider {
  align-items: center;
  display: flex;
  margin-top: 1.5rem;
}

.slick-arrow {
  background-color: transparent;
  border: 0;
  color: transparent;
  width: 23px;
}

.slick-prev:before {
  content: "<";
  color: #000;
  font-size: 30px;
  left: 0;
  opacity: 1;
  position: absolute;
}

.slick-next:before {
  content: ">";
  color: #000;
  font-size: 30px;
  opacity: 1;
  position: absolute;
  right: 0;
}

.mcontent {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  line-height: 24px;
  min-height: 8rem;
  padding: 0 1rem;
}

.content-quotes {
  font-size: 24px;
}
