{{ attach_library('random_quotes_and_facts_generator/quotes_and_facts_slider') }}

<div class="container-fluid">
	<div class="row" id="mobile-step">
		<div class="col-12 mx-auto">
			<div class="testimonial-area">
				<div class="testimonial-slider slider-nav text-center">
				{% for value in data %}
					<div class="mcontent">
					{% if value.fact is not null %}
						<p>" {{ value.fact }} "</p>
					{% endif %}
					{% if value.quote is not null %}
						<p><span class="content-quotes">"</span> {{ value.quote }} <span class="content-quotes">"</span></p>
						<p class="quote-author"> - {{ value.author }} </p>
					{% endif %}
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
